#modal-container {
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal {
  display: flex;
  top: 40%;
  justify-content: center;
  align-items: flex-start;
  background-color: #eb8f8f;
  margin: 10% auto 20%; /* 15% from the top and centered */
  padding: 40px 60px;
  border: 1px solid rgb(208, 178, 178);
  border-radius: 10px;

  /* Could be more or less, depending on screen size */
}
.opn-model {
  display: block;
  cursor: pointer;
}
/* The Close Button */
.btn {
  position: absolute;
  top: 20%;
  right: 20%;
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.btn:hover,
.btn:focus {
  text-decoration: none;
  cursor: pointer;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}
.showImg {
  display: block;
}

.hideImg {
  display: none !important;
}
